body{
    background-image:url(../assets/img/layered-waves-haikei\ \(1\).svg);
    /* background-color: rgba(0, 0, 0, 0.514);  */
    background-blend-mode:darken;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  
  }

  @media screen and (min-width:771px) {
  
  }
  @media screen and (max-width:770px) {
    body {
      background-image:url(../assets/img/layered-waves-haikei\ \(1\).svg);
      background-repeat: no-repeat;
      background-size:cover;
  
      
    background-position: center center;
    background-attachment:fixed;
    
    }
  
  }

.navbar{
    position: fixed;
    
    width: 100%;
}

.change-my-color {
    fill: rgb(255, 255, 255);
  }

  .change-my-color:hover{
    fill: rgb(0, 0, 0);

  }
.download-btn{
    color: white;
    text-decoration: none;
    
    
}
.fixed-top{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgb(19, 133, 182) 0%, rgb(12, 43, 78) 100%);
}
#regresar{
background: radial-gradient(circle, rgb(19, 133, 182) 0%, rgb(12, 43, 78) 100%);
}
.download-btn:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
html{
    background-color: black;
}
.collapse{
    justify-content: center;
  }

  .titulo{
    text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
  
  }
  .wilson{
    text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
  }
  .email{
    text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
  
  }
  p{
      font-size: larger;
     text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);

      /* color:black; */
  }
  .subheading{
    font-size: larger;
    text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);

  }
.social-icon{
    border:solid rgb(255, 255, 255);
  }
.social-icon:hover{
    box-shadow: 5px 5px 20px  rgb(182, 26, 26);
    transition: 0.3s;
    border:solid rgb(182, 26, 26);
  }
  section{
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  
  }